/* OVERORDNET */
body {
    background-color: #FAF5EF;
    font-family: Quicksand, sans-serif;
    margin: 0;
    overflow-x: hidden;
}


h1,
h2 {
    font-family: Playfair Display, sans-serif;
    color: #000000;
}


/* MENU */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;

}

p {
    margin-bottom: 10px;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #FAF5EF;
    overflow-x: hidden;
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(250, 245, 239, 0.87);
    box-shadow: 1px 0px 5px #e3dcc9;
}

.logo {
    position: relative;
    float: left;
    text-decoration: none;
}

.logo img {
    width: 50%;
    padding-top: 5px;
}


.nav-links {
    display: flex;
    justify-content: right;
    width: 60%;
    margin-top: 15px;
}

.nav-links li {
    list-style: none;
    display: block;
    transition-duration: 0.5s;
}

.nav-links a {
    font-family: Quicksand, sans-serif;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 12px 5px 90px;
    letter-spacing: 2px;
}

.nav-links a:hover {
    position: relative;
    bottom: 2px;
    display: inline;
    color: #ECAFA4;
}

.navlinks.active {
    color: #ECAFA4;
}

/* Burger menu */


.burgermenu {
    display: none;
    cursor: pointer;
}

.burgermenu div {
    width: 25px;
    height: 5px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
    background-color: #000000;

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: #000000;

}

/*drop-down*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
    padding: 1rem;
    background-color: #FAF5EF;
    line-height: 2rem;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/*Mediaq*/

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }


    nav {
        width: 100%;
        height: auto;

    }

    header {
        position: sticky;
        z-index: 1000;
        top: 0;
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0vh;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        width: 30%;
        transform: translateX(100%);
        margin-top: 0;
        padding-top: 60px;
        line-height: 4rem;
    }

    .navlinks.active {
        color: #ECAFA4;
    }

    .nav-links a {
        font-size: 14px;
        color: black;
        padding: 5px 12px 5px 20px;
    }

    .nav-links li {
        opacity: 1;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: hidden;
    }

    .burgermenu {
        display: block;
    }
}

/*Burger menu ekstra*/

.nav-active {
    transform: translateX(0%);
}

.overflow {
    overflow: hidden;
}


/*
header {
    position: sticky;
    background-color: rgba(250, 245, 239, 0.87);
    box-shadow: 1px 0px 5px #e3dcc9;
    z-index: 1;
    width: 100%;
}


nav {
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    justify-content: space-around;
    min-height: 5vh;
}

nav a {
    display: flex;
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
    padding: 3rem;
    padding-top: 7px;
    margin-bottom: -45px;
    line-height: 4rem;
    align-items: right;
}

a:hover {
    color: #ECAFA4;
}

.logo {
    position: relative;
    float: left;
    padding-top: 10px;
}

nav img {
    width: 50%;
    padding-top: 5px;
}
*/



/* FIRST SECTION*/
#first_section {
    margin-bottom: -479px;
}

#first_section .text_circle img {
    width: 110%;
}

#first_section .text_circle {
    position: absolute;
    top: 200px;
    left: 990px;
}

.rotate {
    animation: rotation 110s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


#first_section .title {
    text-transform: uppercase;
    letter-spacing: .15em;
}

#first_section h1 {
    position: relative;
    top: 60px;
    left: 313px;
    z-index: 2;
    font-size: 6rem;
    font-weight: 200;
    position: relative;
}


#first_section .title2 {
    position: relative;
    left: 504px;
    top: -30px;
    line-height: 0;
    font-size: 1.4rem;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .15em;
    animation:
        typing 4s steps(500, end),
        blink-caret .80s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


#first_section .image_flower {
    position: relative;
    top: -356px;
    left: 121px;
}

#first_section .image_flower img {
    width: 25%;
}

#first_section .portfolio h3 {
    font-size: 1.5rem;
    font-weight: 300;
    transform: rotate(-90deg);
    position: relative;
    top: -75rem;
    left: 41rem;
}

#first_section .dot {
    height: 110px;
    width: 110px;
    background-color: #D5ECFD;
    border-radius: 50%;
    position: relative;
    top: -65rem;
    left: 960px;
}



/* STREGER */
#portfolio_line {
    border-left: 1px solid #000000;
    height: 167px;
    position: relative;
    left: 86.2rem;
    top: -8.5rem;
}

#socials_line1 {
    border-left: 1px solid #000000;
    height: 167px;
    position: relative;
    top: -37rem;
    left: 3rem;
}

#socials_line2 {
    border-left: 1px solid #000000;
    height: 86px;
    position: relative;
    top: -27rem;
    left: 3rem;
}


/* SOCIALE MEDIER */
#socials {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 8rem;
    grid-row-gap: 10px;
    position: relative;
    top: -41.5rem;
    left: 2rem;
}

#socials img {
    width: 25%;
}

/* SCROLL SECTION1 */
#scroll_section1 {
    margin: -240px;
}

#scroll_section1 .scroll {
    position: relative;
    top: -20rem;
    transform: rotate(90deg);
}

#scroll_section1 .scroll img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
    cursor: pointer;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: translateY(0vw);
    }

    100% {
        transform: scale(1.2)translateY(0vw);
    }
}



/* SECOND SECTION*/
#second_section {
    display: flex;
}

#second_section h1 {
    position: relative;
    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.03);
    top: -30px;
    left: -255px;
}

#second_section .text {
    background-color: #FCF9F5;
    padding: 250px;
    text-align: center;
    padding-top: 0;
}

#second_section h2 {
    font-family: Quicksand, sans-serif;
    font-size: 1.8rem;
    line-height: 2;
    font-weight: 400;
}

#second_section p {
    font-family: Quicksand, sans-serif;
    font-weight: 100;
    position: relative;
    top: 9rem;
}

/* SCROLL SECTION 2 */

#scroll_section2 .scroll {
    position: relative;
    top: -97px;
    transform: rotate(90deg);
}

#scroll_section2 .scroll img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2.5%;
    cursor: pointer;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: translateY(0vw);
    }

    100% {
        transform: scale(1.2)translateY(0vw);
    }
}


/* FOURTH SECTION */
#fourth_section {
    padding-top: 1px;
}

/*
#fourth_section img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}
*/

#fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 20px;
    /*    height: 100%;*/
}

.container {
    position: relative;
    overflow: hidden;
}

.image {
    display: block;
    width: 100%;
    /*    height: auto;*/
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*
    height: 100%;
    width: 100%;
*/
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(253, 247, 234, 0.91);
    transition: transform 2.s;
}

.container:hover .overlay {
    opacity: 1;
    transform: scale(1.2);
}

.container .text {
    font-family: Playfair Display, sans-serif;
    color: #ECAFA4;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    /*
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
*/
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
}


#fourth_section h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 0;
    transform: rotate(-90deg);
    position: relative;
    left: -567px;
    top: -226px;
}

#fourth_section p {
    font-size: 1.2rem;
    position: relative;
    left: 252px;
    top: -16px;
}

/*FIFTH SECTION*/
#fifth_section {
    padding: 75px;
    text-align: center;
}

#fifth_section .text a {
    margin: 30px;
}

#fifth_section h2 {
    font-weight: 200;
    font-size: 2rem;
}

#fifth_section input {
    border: none;
    background-color: #ECAFA4;
    border-radius: 1.5rem;
    padding: 0.8vw 1vw;
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px #a0a0a0;
    letter-spacing: 0.1rem;
    /*    margin: 5px 0 10px 0;*/
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

#fifth_section input:hover {
    opacity: 0.8;
}


/* PORTFOLIO STREG */
#portfolio_line1 {
    border-left: 1px solid #000000;
    height: 230px;
    position: relative;
    top: -159rem;
    left: -22rem;
    transform: rotate(-90deg);
}

#portfolio_line2 {
    border-left: 1px solid #000000;
    height: 140px;
    position: relative;
    top: -91rem;
    left: 10rem;
}



/* FOOTER */
#footer {
    background-color: #FCF9F5;
    text-align: center;
    /*    width: 100%;*/
    padding-top: 50px;
    padding-bottom: 10px;
}


.copyright {
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 10px;
}

.icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    max-width: 8rem;
    margin: 0 auto;
    margin-top: 20px;
}

.icon img {
    width: 100%;
}

.icon img:hover {
    opacity: 0.7;
}





@media screen and (max-width: 1024px) {

    body {
        overflow-x: hidden;
    }


    #first_section {
        margin: 0;
        height: 13rem;
    }

    #first_section h1 {
        font-size: 3rem;
        position: relative;
        top: 11px;
        left: 184px;
    }

    #first_section .title2 {
        font-size: 1rem;
        position: relative;
        left: 18rem;
    }

    #first_section .image_flower {
        position: relative;
        top: -228px;
        left: 87px;
    }

    #first_section .text_circle {
        width: 35%;
        position: absolute;
        top: 130px;
        left: 567px;
    }

    #first_section .dot {
        height: 90px;
        width: 90px;
        background-color: #D5ECFD;
        border-radius: 50%;
        position: relative;
        top: -37rem;
        left: 489px;
    }

    #socials_line1,
    #socials_line2,
    #portfolio_line,
    #portfolio_line1,
    #portfolio_line2 {
        display: none;
    }

    #socials {
        position: relative;
        top: -76.5px;
        width: 8rem;
    }

    #scroll_section1 {
        margin: 0;
    }

    #scroll_section1 .scroll,
    #scroll_section2 .scroll {
        display: none;
    }


    #second_section .text {
        padding: 170px;
        padding-top: 76px;
    }

    #second_section h1 {
        font-size: 3rem;
        position: relative;
        left: -200px;
    }

    #second_section h2 {
        font-size: 1rem;
    }

    #second_section p {
        display: none;
    }

    #fourth_section h1 {
        font-size: 3rem;
        position: relative;
        left: -307px;
        top: -129px;
    }

    #fourth_section .section_wrapper {
        padding-left: 130px;
        padding-right: 130px;
    }

    #fourth_section p {
        font-size: 1rem;
        position: relative;
        left: 130px;
        top: -14px;
    }

    #fifth_section input {
        font-size: 1rem;
    }

    #footer {}
}




@media screen and (max-width: 420px) {

    #first_section .image_flower img {
        width: 45%;
    }

    #first_section .image_flower {
        position: relative;
        top: -123px;
        left: 75px;
    }

    #first_section h1 {
        font-size: 2rem;
        position: relative;
        top: 13px;
        left: 100px;
    }

    #first_section .title2 {
        font-size: 12px;
        position: relative;
        left: 8rem;
        top: -21px;
        z-index: 3;
    }

    #first_section .text_circle {
        width: 42%;
        position: absolute;
        top: 146px;
        left: 297px;
    }

    #first_section .dot {
        height: 50px;
        width: 50px;
        position: relative;
        top: -31rem;
        left: 289px;
    }

    #socials {
        position: relative;
        left: 22px;
    }

    #second_section h1 {
        font-size: 3rem;
        position: relative;
        left: -5px;
        top: -1px;
        width: 23rem;
    }


    #second_section .text {
        padding: 10px;
        padding-bottom: 130px;
    }

    #fourth_section .section_wrapper {
        padding: 0;
        padding-top: 25px;
    }

    #fourth_section p {
        font-size: 0.8rem;
        position: relative;
        left: 32px;
        top: 6px;
    }

    #fourth_section h1 {
        font-size: 40px;
        position: relative;
        left: 30px;
        top: 8px;
        transform: none;
    }

    #fifth_section {
        padding: 47px;
    }

    #fifth_section .text a {
        margin: 10px;
    }
}
