/* OVERORDNET */
body {
    background-color: #FAF5EF;
    font-family: Quicksand, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: Playfair Display, sans-serif;
    color: #000000;
}

/* MENU */
header {
    position: sticky;
    background-color: rgba(250, 245, 239, 0.87);
    box-shadow: 1px 0px 5px #e3dcc9;
    z-index: 1;
    width: 100%;
}


nav {
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    justify-content: space-around;
    min-height: 5vh;
}

nav a {
    display: flex;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    padding: 3rem;
    padding-top: 7px;
    margin-bottom: -45px;
    line-height: 4rem;
    align-items: right;
}

a:hover {
    color: #ECAFA4;
}

.logo {
    position: relative;
    float: left;
    padding-top: 10px;
}

nav img {
    width: 50%;
    padding-top: 5px;
}


/* FIRST SECTION */
#first_section {
    padding-left: 4rem;
}

#first_section h1 {
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 400;
    margin: 0;
    padding-top: 2rem;
    line-height: 1.5;
}

#first_section p {
    font-size: 1.2rem;
    line-height: 1.5;
}

#first_section h3 {
    font-size: 10rem;
    font-weight: 100;
    line-height: 0;
    margin-top: 70px;
}

#first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    position: relative;
    right: 105px;
    top: 40px;
    height: 100%;
}

#first_section img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
    overflow: hidden;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(253, 247, 234, 0.91);
    transition: transform 2.s;
}

.image:hover .overlay {
    opacity: 1;
    transform: scale(1.2);
}

.image .text {
    font-family: Playfair Display, sans-serif;
    color: #ECAFA4;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
}

.container_text {
    text-align: right;
}

/* STREG */
#line {
    border-left: 1px solid #000000;
    height: 230px;
    position: relative;
    top: -99rem;
    left: -34rem;
    transform: rotate(-90deg);
}


/* SECOND SECTION */
/*
#second_section {
    background-color: #FAF5EF;
    padding-left: 4rem;
    padding-top: 50px;
    padding-bottom: 50px;
}
*/

/*
.container_circle {
    height: 400px;
    width: 400px;
    background-color: #ECAFA4;
    border-radius: 50%;
    margin-left: 68rem;
    margin-top: -35rem;
    margin-bottom: 150px;
}
*/

#second_section h2 {
    font-family: Quicksand, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    transform: rotate(-90deg);
    position: relative;
    top: -40rem;
    left: 610px;
}




/* FOOTER */

#footer {
    background-color: #FCF9F5;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}


.copyright {
    border-top: 1px solid #000000;
    padding-top: 15px;
    padding-bottom: 10px;
}

.icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    max-width: 8rem;
    margin: 0 auto;
    margin-top: 20px;
}

.icon img {
    width: 100%;
}

.icon img:hover {
    opacity: 0.7;
}
