/* OVERORDNET */
body {
    background-color: #FAF5EF;
    font-family: Quicksand, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: Playfair Display, sans-serif;
    color: #000000;
}

/* MENU */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;

}

p {
    margin-bottom: 10px;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #FAF5EF;
    overflow-x: hidden;
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(250, 245, 239, 0.87);
    box-shadow: 1px 0px 5px #e3dcc9;
}

.logo {
    position: relative;
    float: left;
    text-decoration: none;
}

.logo img {
    width: 50%;
    padding-top: 5px;
}


.nav-links {
    display: flex;
    justify-content: right;
    width: 60%;
    margin-top: 15px;
}

.nav-links li {
    list-style: none;
    display: block;
    transition-duration: 0.5s;
}

.nav-links a {
    font-family: Quicksand, sans-serif;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 12px 5px 90px;
    letter-spacing: 2px;
}

.nav-links a:hover {
    position: relative;
    bottom: 2px;
    display: inline;
    color: #ECAFA4;
}

.navlinks.active {
    color: #ECAFA4;
}

/* Burger menu */


.burgermenu {
    display: none;
    cursor: pointer;
}

.burgermenu div {
    width: 25px;
    height: 5px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
    background-color: #000000;

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: #000000;

}

/*drop-down*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
    padding: 1rem;
    background-color: #FAF5EF;
    line-height: 2rem;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/*Mediaq*/

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }


    nav {
        width: 100%;
        height: auto;

    }

    header {
        position: sticky;
        z-index: 1000;
        top: 0;
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0vh;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        width: 30%;
        transform: translateX(100%);
        margin-top: 0;
        padding-top: 60px;
        line-height: 4rem;
    }

    .navlinks.active {
        color: #ECAFA4;
    }

    .nav-links a {
        font-size: 14px;
        color: black;
        padding: 5px 12px 5px 20px;
    }

    .nav-links li {
        opacity: 1;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: hidden;
    }

    .burgermenu {
        display: block;
    }
}

/*Burger menu ekstra*/

.nav-active {
    transform: translateX(0%);
}

.overflow {
    overflow: hidden;
}



/* FIRST SECTION */
#first_section {
    padding-left: 4rem;
}

#first_section h1 {
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 400;
    margin: 0;
    padding-top: 2rem;
    line-height: 1.5;
}

#first_section p {
    font-size: 1.2rem;
    line-height: 1.5;
}

#first_section h3 {
    font-size: 10rem;
    font-weight: 100;
    line-height: 0;
    margin-top: 70px;
}

#first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    position: relative;
    right: 105px;
    top: 40px;
    height: 100%;
}

#first_section img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image {
    position: relative;
    overflow: hidden;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(248, 243, 229, 0.89);
    transition: transform 2.s;
}

.image:hover .overlay {
    opacity: 1;
    transform: scale(1.2);
}

.image .text {
    font-family: Playfair Display, sans-serif;
    color: #ECAFA4;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.container_text {
    text-align: right;
}

/* STREG */
#line {
    border-left: 1px solid #000000;
    height: 230px;
    position: relative;
    top: -59rem;
    left: 5rem;
    transform: rotate(-90deg);
    max-width: 200px;
}



/* FOOTER */

#footer {
    background-color: #FCF9F5;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}


.copyright {
    border-top: 1px solid #000000;
    padding-top: 15px;
    padding-bottom: 10px;
}

.icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    max-width: 8rem;
    margin: 0 auto;
    margin-top: 20px;
}

.icon img {
    width: 100%;
}

.icon img:hover {
    opacity: 0.7;
}




@media screen and (max-width: 1024px) {
    html {
        overflow-x: hidden;
        margin: 0;
        height: 100%;
    }


    #first_section h3 {
        font-size: 8rem;
    }

    #first_section h1 {
        font-size: 6rem;
    }

    #first_section p {
        font-size: 1rem;
    }

    main {
        margin-bottom: -9rem;
    }

    #line {
        display: none;
    }

    #first_section .section_wrapper {
        margin-bottom: 15rem;
    }
}



@media screen and (max-width: 420px) {


    #first_section h1 {
        font-size: 3.5rem;
    }

    #first_section h3 {
        margin-bottom: 80px;
        margin-top: 31px;
    }

    #first_section .section_wrapper {
        display: inherit;
        margin-left: 6.5rem;
    }

    #first_section .container_text {
        text-align: left;
    }

    #first_section .container_image {
        margin-bottom: 5rem;
    }

    .nav-links {
        width: 50%;
    }

}
