/* OVERORDNET */
body {
    background-color: #FAF5EF;
    font-family: Quicksand, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

main {
    background-color: #fcfaf8;
}

h1,
h2 {
    font-family: Playfair Display, sans-serif;
    color: #000000;
}

h5 {
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

p {
    line-height: 2.5;
}

ul {
    line-height: 1.8;
}

/* MENU */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;

}

p {
    margin-bottom: 10px;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #FAF5EF;
    overflow-x: hidden;
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgba(250, 245, 239, 0.87);
    box-shadow: 1px 0px 5px #e3dcc9;
}

.logo {
    position: relative;
    float: left;
    text-decoration: none;
}

.logo img {
    width: 50%;
    padding-top: 5px;
}


.nav-links {
    display: flex;
    justify-content: right;
    width: 60%;
    margin-top: 15px;
}

.nav-links li {
    list-style: none;
    display: block;
    transition-duration: 0.5s;
}

.nav-links a {
    font-family: Quicksand, sans-serif;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 12px 5px 90px;
    letter-spacing: 2px;
}

.nav-links a:hover {
    position: relative;
    bottom: 2px;
    display: inline;
    color: #ECAFA4;
}

.navlinks.active {
    color: #ECAFA4;
}

/* Burger menu */


.burgermenu {
    display: none;
    cursor: pointer;
}

.burgermenu div {
    width: 25px;
    height: 5px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
    background-color: #000000;

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: #000000;

}

/*drop-down*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
    padding: 1rem;
    background-color: #FAF5EF;
    line-height: 2rem;
    z-index: 1000;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/*Mediaq*/

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }


    nav {
        width: 100%;
        height: auto;

    }

    header {
        position: sticky;
        z-index: 1000;
        top: 0;
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0vh;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        width: 30%;
        transform: translateX(100%);
        margin-top: 0;
        padding-top: 60px;
        line-height: 4rem;
    }

    .navlinks.active {
        color: #ECAFA4;
    }

    .nav-links a {
        font-size: 14px;
        color: black;
        padding: 5px 12px 5px 20px;
    }

    .nav-links li {
        opacity: 1;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: hidden;
    }

    .burgermenu {
        display: block;
    }
}

/*Burger menu ekstra*/

.nav-active {
    transform: translateX(0%);
}

.overflow {
    overflow: hidden;
}


/* FIRST SECTION */
#first_section {
    position: relative;
    left: 5rem;
}

#first_section h1 {
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 300;
    margin: 0;
    padding-top: 3rem;
}

#first_section h3 {
    font-weight: 100;
}



/* SECOND SECTION */
#second_section {
    background-color: #fcfaf8;
    height: 97rem;
    min-width: 100%;
    box-sizing: border-box;
    margin-top: 5rem;
}

#second_section .text_container {
    margin-left: 25%;
    width: 50%;
    float: left;

}

#second_section h2 {
    padding-top: 30px;
    padding-bottom: -10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.8rem;
}

#second_section h4 {
    margin-bottom: -10px;
    font-family: Playfair Display, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}



/* GRID CONTAINER */

#grid_container .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#grid_container {
    background-color: #f4eee6;
    position: relative;
    top: 44px;
    color: #000000;
}

#grid_container .container {
    padding: 1rem;
}

#grid_container h4 {
    padding-left: 1.2rem;
    margin-bottom: -10px;
}

#grid_container p {
    padding-top: 0.5rem;
    margin-left: 25%;
}

#grid_container ul {
    padding-left: 64px;
    max-width: 550px;
}

#grid_container h4 {
    padding-left: 50px;
}




/* ------------------------------ PLANTEGUIDE ------------------------------- */
.images_planteguide {
    display: flex;
    margin-top: 2rem;
}

/*
.zoom:hover {
    position: relative;
    min-width: 700px;
    height: auto;
    display: flex;
    z-index: 531;
}
*/

/* PDF */

#pdf_section_planteguide iframe {
    position: relative;
    left: 18rem;
    top: -15rem;
    border-radius: 1%;
    border-style: none;
}

#image_text_plante {
    position: relative;
    top: -16rem;
}


#image_text_slide {
    position: relative;
    top: -8rem;
}



/* VIDEO*/

#video .video_plante {
    position: relative;
    top: -7rem;
    left: 17.5rem;
    margin-bottom: -13rem;
}



/* LINK */
#link_section_planteguide {
    padding: 75px;
    text-align: center;
    margin-top: -11rem;
}

#link_section_planteguide a {
    margin: 30px;
}

#link_section_planteguide h2 {
    font-weight: 200;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

#link_section_planteguide input {
    border: none;
    background-color: #ECAFA4;
    border-radius: 1.5rem;
    padding: 0.8vw 1vw;
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px #a0a0a0;
    letter-spacing: 0.1rem;
    /*    margin: 5px 0 10px 0;*/
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

#link_section_planteguide input:hover {
    transform: scale(1.1);
}



/* ------------------------------ IDE ------------------------------------ */
/* BILLEDER */
#images_ide {
    position: relative;
    top: -7rem;
    text-align: center;
}

#images_ide img {
    border-radius: 1%;
    margin: 1rem;
}

#pdf_section_ide iframe {
    position: relative;
    border-style: none;
    left: 23rem;
    border-radius: 1%;
}


/* ------------------------------ PROTOTYPE ------------------------------- */


#image_text_prototype {
    position: relative;
    top: -19rem;
}

/* PDF */
#pdf_section_proto iframe {
    position: relative;
    left: 23rem;
    top: -19rem;
    border-radius: 10px;
    border-style: none;
}

/* SLIDESHOW*/
.slideshow_prototype {
    position: relative;
    top: -11rem;
}

/* VIDEO */
#video .video_prototype {
    position: relative;
    top: -20rem;
    left: 17rem;
    margin-bottom: -24rem;
}


/* LINK */
#link_section_prototype {
    padding: 75px;
    text-align: center;
}

#link_section_prototype a {
    margin: 30px;
}

#link_section_prototype h2 {
    font-weight: 200;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

#link_section_prototype input {
    border: none;
    background-color: #ECAFA4;
    border-radius: 1.5rem;
    padding: 0.8vw 1vw;
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px #a0a0a0;
    letter-spacing: 0.1rem;
    /*    margin: 5px 0 10px 0;*/
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

#link_section_prototype input:hover {
    transform: scale(1.1);
}




/* ------------------------------ ASSET ------------------------------- */

/* GRID */
#grid_container .section_wrapper_asset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

#grid_container .section_wrapper_asset p {
    padding-top: 2.5rem;
}

#grid_container .container3 {
    padding-top: 3rem;
}

/* BILLEDER */
#images_asset {
    position: relative;
    top: -24rem;
    text-align: center;
}

#images_asset .container {
    display: flex;
    box-sizing: border-box;
    padding-left: 19rem;
}

#images_asset img {
    border-radius: 2%;
    margin: 1rem;
}


/* PDF */
#pdf_section_asset iframe {
    border-radius: 2%;
    border-style: none;
    margin-left: 22%;
    width: 60%;
    height: 500px;
    position: relative;
    top: -6rem;
}


#pdf_section_asset {
    min-width: 100%;
    margin-bottom: -10rem;
}

#diagram_pdf iframe {
    border-radius: 2%;
    border-style: none;
    position: relative;
    top: -13rem;
    left: 28rem;
}


/* TEKST */
#image_text_asset1 {
    position: relative;
    top: -21rem;
}

#image_text_asset2 {
    position: relative;
    top: -14rem;
}

#image_text_asset3 {
    position: relative;
    top: -7rem;
}



/* SLIDESHOW*/
.slideshow_asset {
    position: relative;
    top: -13rem;
    left: 1rem;
}


/* ---------------------------- HJÆLP HANNIBAL ------------------------ */
#pdf_section_hannibal .pdf_hannibal iframe {
    border-radius: 2%;
    border-style: none;
    position: relative;
    top: -45rem;
    left: 14rem;
}

#pdf_section_hannibal .game iframe {
    border-style: none;
    position: relative;
    top: -33rem;
    left: 14rem;
}

#pdf_section_hannibal {
    margin-bottom: -36rem;
}


/* LINK */
#link_section_spil {
    padding: 75px;
    text-align: center;
}

#link_section_spil a {
    margin: 30px;
}

#link_section_spil h2 {
    font-weight: 200;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

#link_section_spil input {
    border: none;
    background-color: #ECAFA4;
    border-radius: 1.5rem;
    padding: 0.8vw 1vw;
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px #a0a0a0;
    letter-spacing: 0.1rem;
    /*    margin: 5px 0 10px 0;*/
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

#link_section_spil input:hover {
    transform: scale(1.1);
}


#pdf_section_hannibal h3 {
    line-height: 0;
    font-weight: 600;
    position: relative;
    font-family: Playfair Display, sans-serif;
    max-width: 100%;
    margin-left: 44%;
    width: 50%;
    text-transform: uppercase;
    top: -35rem;
}



/* ------------------------------ PILOT ------------------------------- */
/* BILLED */
#images_pilot {
    position: relative;
    top: -17rem;
    text-align: center;
}

#images_pilot img {
    border-radius: 2%;
    margin: 1rem;
    width: 40%;
}

/* VIDEO */
#video .video_pilot {
    position: relative;
    top: -13rem;
    left: 17.5rem;
}

#video .video_pilot h3 {
    position: relative;
    top: 16px;
}


/* ------------------------------ REDESIGN ------------------------------- */
/* PDF */
#pdf_section_redesign iframe {
    position: relative;
    left: 18rem;
    top: -44rem;
    border-radius: 2%;
    border-style: none;
}


/* LINK */
#link_section_redesign {
    padding: 75px;
    text-align: center;
}

#link_section_redesign a {
    margin: 30px;
}

#link_section_redesign h2 {
    font-weight: 200;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

#link_section_redesign input {
    border: none;
    background-color: #ECAFA4;
    border-radius: 1.5rem;
    padding: 0.8vw 1vw;
    font-size: 1.5rem;
    box-shadow: 1px 1px 3px #a0a0a0;
    letter-spacing: 0.1rem;
    /*    margin: 5px 0 10px 0;*/
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

#link_section_redesign input:hover {
    transform: scale(1.1);
}







/* ----------------------------- PITCH ---------------------------------- */
#pdf_section_pitch iframe {
    position: relative;
    left: 14rem;
    top: -42rem;
    border-radius: 2%;
    border-style: none;
}

#pdf_section_pitch {
    margin-bottom: -24rem;
}




/* VIDEO */
#video h3 {
    line-height: 0;
    font-weight: 600;
    position: relative;
    bottom: -129px;
    font-family: Playfair Display, sans-serif;
    max-width: 100%;
    margin-left: 25%;
    width: 50%;
    text-transform: uppercase;
}





/* SLIDESHOW */
* {
    box-sizing: border-box;
}

#slideshow {
    position: relative;
    top: -7rem;
}



.slideshow_container {
    max-width: 750px;
    position: relative;
    margin: auto;
}


.slide {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    font-family: Quicksand, sans-serif;
    color: black;
    font-size: 21px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    background-color: white;
}

.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#slideshow .active,
#slideshow .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* STREGER */
.line {
    border-left: 1px solid #000000;
    height: 167px;
    position: relative;
    left: 1rem;
    top: -251rem;
    transform: rotate(-90deg);
    max-width: 300px;
}


.line_kirkcph {
    position: relative;
    top: -237rem;
}

.line_pilot {
    position: relative;
    top: -138rem;
}

.line_proto {
    position: relative;
    top: -243rem;
}

.line_pitch {
    position: relative;
    top: -148rem;
}

.line_asset {
    position: relative;
    top: -281.5rem;
}

.line_redesign {
    position: relative;
    top: -138rem;
}

.line_spil {
    position: relative;
    top: -177rem;
}



/* FOOTER */
#footer {
    background-color: #FCF9F5;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
}


.copyright {
    border-top: 1px solid #000000;
    padding-top: 15px;
    padding-bottom: 10px;
}

.icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    max-width: 8rem;
    margin: 0 auto;
    margin-top: 20px;
}

.icon img {
    width: 100%;
}

.icon img:hover {
    opacity: 0.7;
}




@media screen and (max-width: 1024px) {
    html {
        overflow-x: hidden;
        margin: 0;
        height: 100%;
    }

    #video {
        position: relative;
        top: 38rem;
        left: 4rem;
    }

    .line_kirkcph {
        position: relative;
        top: -123rem;
        left: -22.6rem;
    }


    .line_planteguide {
        position: relative;
        left: -22.6rem;
        top: -173rem;
    }

    .line_proto {
        position: relative;
        top: -161rem;
        left: -363px;
    }

    .line_pitch {
        position: relative;
        left: -22.6rem;
        top: -161rem;
    }

    .line_asset {
        position: relative;
        left: -22.6rem;
        top: -192rem;
    }

    .line_spil {
        position: relative;
        left: -22.6rem;
        top: -173rem;
    }

    .line_pilot {
        position: relative;
        top: -161rem;
        left: -362px;
    }

    .line_redesign {
        position: relative;
        left: -22.6rem;
        top: -161rem;
    }

    #slideshow {
        position: relative;
        left: 0rem;
        top: -26rem;
    }


}






@media screen and (max-width: 420px) {
    #first_section h1 {
        font-size: 2rem;
    }

    #second_section .text_container {
        max-width: 300px;
    }


    #slideshow {
        position: relative;
        left: 0rem;
        top: -19rem;
    }

    #video {
        position: relative;
        top: 46rem;
        left: 2rem;
        padding-bottom: 20rem;
        margin-top: -1rem;
    }

    #video .video_intro {
        width: 100px;
        height: 200px;
    }

    .line {
        display: none;
    }

}
